@font-face 
  src url("./quicksand/Regular.ttf") format("ttf")
  font-family quicksand
  font-style normal
  font-weight normal

@font-face 
  src url("./quicksand/Bold.ttf") format("ttf")
  font-family quicksand
  font-style normal
  font-weight bold

@font-face 
  src url("./quicksand/Medium.ttf") format("ttf")
  font-family quicksand
  font-style normal
  font-weight 500
